/* Color Theme Swatches in Hex */
$pink: #042940;
$darkPink: #005C53;
$lightPink: #9FC131;
$hardal: #DBF227;
$olive: #D6D58E;

@mixin forFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}



