/* Color Theme Swatches in Hex */
$pink: #042940;
$darkPink: #005C53;
$lightPink: #9FC131;
$hardal: #DBF227;
$olive: #D6D58E;


/* Color Theme Swatches in Hex */
$G1: #729CA6;
$G2: #30734D;
$G3: #01260A;
$G4: #75A60D;
$G5: #0D0D0D;




@mixin forFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    
}



