@import "./variables";

footer {
  background-color: $darkPink;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .title {
    text-align: center;
    color: rgb(255, 255, 255);
  }
}
